body {
  display: flex;
  justify-content: center;
}

#drum-machine {
  width: 50vw;
  height: 40vh;
  background-color: rgb(131, 124, 124);
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  border-radius: 10px;
  justify-items: center;

}

#display-container {
  background-color: black;
  color: white;
  width: 20vw;
  height: 15vh;
  justify-content: center;
  display: flex;

}


#drum-pad-container {
  margin: 5px;
  
}
.drum-pad {
  margin: 5px;
  width: 20pt;
  height: 20pt;
  border-radius: 8px;
  box-shadow: 10px 10px 10px black;
}

#keyboard {
  height: 30px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px black;
}

#keyboard:active {
  box-shadow: none;
}

.drum-pad:active {

  box-shadow: none;

}